<!DOCTYPE html>
<html lang='es'>
	<head>
		<meta charset='UTF-8'/>
		<link rel='stylesheet' type='text/css' href='../styles/name.css'>
		<title>Seguridad</title>
	</head>
	<body>
		<form method='post' action='../programs/php/actis.php'>
			Modulo de:<input type='number' name='modulode'>
			Numero:<input type='number' name='moudil'></br>
			Codificacion:<input type='text' name='codificacion'></br>
			Playfair:<input type='text' name='plyfair'>
			Playfair key:<input type='number' name='plykey'></br>
			Cifrado no de cuenta:<input type='number' name='cifnocue'></br>
			Cifrado XOR:<input type='text' name='xor'>
			Key Cifrado XOR:<input type='number' name='xorkey'></br>
			Hash:<input type='text' name='hasho'></br>
			Cifrado vigenere:<input type='text' name='vigen'>
			Key Cifrado vigenere:<input type='text' name='vigenkey'></br>
			Visa:<input type='number' name='visa'></br>
			Curp:<a href="formu.html">Pincha aqui</a></br>
			<input type='submit'>
		</form>
	</body>
</html>
